* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1d1e22;
}

.container {
  position: relative;
  display: flex;
}

.gear {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #fff;
  animation: spin 2.5s linear infinite;
  position: relative;
}

.gear-inner {
  width: 70px;
  height: 70px;
  background-color: #1d1e22;

  border-radius: 50%;
  position: absolute;
  top: 15px;
  left: 15px;
}

.teeth {
  width: 120px;
  height: 20px;
  background: #fff;
  position: relative;
}

.gear:nth-child(1) {
  /* margin-left: 65px; */
  position: relative;
  left: 10px;
}

.gear:nth-child(2) {
  animation: spinback 2.5s linear infinite;
  margin-top: 30px;
}

.gear:nth-child(1) {
  margin-right: 10px;
}

.teeth:nth-child(1) {
  top: 42px;
  left: -10px;
}

.teeth:nth-child(2) {
  top: 20px;
  left: -10px;
  transform: rotateZ(90deg);
}

.teeth:nth-child(3) {
  top: 0px;
  left: -10px;
  transform: rotateZ(45deg);
}

.teeth:nth-child(4) {
  top: -20px;
  left: -10px;
  transform: rotateZ(135deg);
}

.container {
  gap: 10px;
}

@keyframes spin {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

@keyframes spinback {
  0% {
    transform: rotateZ(0deg);
  }

  100% {
    transform: rotateZ(-360deg);
  }
}
